# Site settings
title: Aidan Bevan
description: Professional Gymnastics Coach | Movement Without Limits
baseurl: ""
url: "https://aidanbevan.com"

# Build settings
markdown: kramdown

# SASS/SCSS settings
sass:
  sass_dir: assets/css
  style: compressed

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor
  - node_modules
