<header class="site-header">
  <div class="header-content">
    <a href="{{ '/' | relative_url }}" class="site-title">
      <img src="{{ '/assets/images/gymnast-small.png' | relative_url }}" alt="Logo" class="site-logo">
      <span>{{ site.title }}</span>
    </a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}"{% if page.url == '/' %} class="active"{% endif %}>Home</a>
      <a href="{{ '/about/' | relative_url }}"{% if page.url == '/about/' %} class="active"{% endif %}>About</a>
      <a href="{{ '/contact/' | relative_url }}"{% if page.url == '/contact/' %} class="active"{% endif %}>Contact</a>
    </nav>
  </div>
</header>
